<ion-header>
  <ion-toolbar>
    <ion-back-button color='dark'></ion-back-button>
    <ion-title>Exercicio 4</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item lines="none" [ngClass]="['header-block']">
      <ion-avatar slot="start">
        <img src="../assets/img/big-head-small.jpg">
      </ion-avatar>
      <div class="card-info">
        <h3>Big Head</h3>
        <p>Dono da empresa!</p>
      </div>
    </ion-item>
      <ion-card-content>O mais CDF e inteligente do Vale do Silicio</ion-card-content>
      <ion-button
        fill="outline"
        expand="block">
        Perfil
      </ion-button>
  </ion-card>
</ion-content>
