.header-block { 
    margin-top: 20px;
    display: flex;
} 

.card-info {
    display: flex; 
    flex-direction: column; 
    align-content: flex-start; 
    justify-content: flex-start;
} 

h3 {
    margin: 0; 
}

p {
    margin: 0;
    color: #999;
    font-size: .8em; 
}