<ion-header>
  <ion-toolbar color='light'>
    <ion-back-button color='dark'></ion-back-button>
    <ion-title>Lista de Tarefas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Fazer os exercícios</ion-label>
      <ion-checkbox slot="start"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Fazer o Trabalho 01</ion-label>
      <ion-checkbox slot="start"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Testar os exemplos do Ionic</ion-label>
      <ion-checkbox slot="start"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>
