<ion-header>
  <ion-toolbar>
    <ion-title>
      Lista 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="mudar(1)"
              expand="block"
              fill="outline">
              Exercício 1
  </ion-button>

  <ion-button (click)="mudar(2)"
              expand="block"
              fill="outline">
              Exercício 2
  </ion-button>

  <ion-button (click)="mudar(3)"
              expand="block"
              fill="outline">
              Exercício 3
  </ion-button>
</ion-content>
